@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600;700&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
:root{
    --bs-dark-color:#000000;
    --bs-dark-primary:#E4E4E4;
    --bs-main-color:#fff;
    --bs-primary-color:#fdc200;
    --secoundary-color:#29a9fd;
}

h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}
h1{
    font-size: 3.8rem;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.8rem;
}
p{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Banner Section Start Here  */
.banner-bg{
    width: 4.5rem;
}
.banner-image{
    height: auto;
    width: 100%;
    border-radius: 2rem;

}
.banner-mark{
    width: 7rem;
    margin-top: -7.5rem;
}
.btn-dark:hover{
    border: 2px solid;
    color: var(--bs-main-color);
    background-color: var(--secoundary-color);
    transition: 1s;
}
.catagari{
    margin-top: 3rem;
}
.see-all{

    color: #fdc200;
}


.c-card{
    align-items: center;
    border-radius: 1.5rem;
    border-color: white;
    box-shadow: 1rem 1rem 15rem 1rem var(--bs-dark-primary);
}
.c-card img{
    padding: 2.5rem;
}

.c-body a button{
    margin-bottom: 2rem;

}
.c-body h5{
    	margin-top: 2rem;
}

.categorie-title h5{
    margin-top: 4rem;
    color: var(--bs-dark-color);
}
.categorie-title button{
    height: 0.7rem;
    width: 5rem;
    border: none;
    border-radius: 2rem;
    border-color: var(--bs-primary-color);
    background:  #fdc200;
}
.cata-3{
    width: 100%;
    margin: 30px;
    padding: 50px;
    box-shadow: 1rem 1rem 20rem 1rem var(--bs-dark-primary);
}
.cata-bag{
border-bottom-left-radius: 2rem;
border-top-right-radius: 1rem;
}
.cata-but, .cata-sh{
    border-bottom-right-radius: 2rem;
    border-top-left-radius: 1rem;
    }