@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@400;600;700&family=Poppins:wght@400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;

}
:root{
    --bs-dark-color:#1a1d20;
    --bs-dark-primary:#1c1c1c;
    --bs-main-color:#fff;
    --bs-primary-color:#c6c6c6;
    --secoundary-color:#29a9fd;
}

h1,h2,h3,h4,h5{
    font-family: 'Lexend Deca', sans-serif;
    color: var(--bs-dark-color);
}
h1{
    font-size: 3.8rem;
}
h2{
    line-height: 3rem;
    font-weight: 600;
    font-size: 3.8rem;
}
p{
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
    color: var(--bs-dark-color);
    letter-spacing: 0.07rem;
    line-height: 1.55rem;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}

/* Banner Section Start Here  */
.banner-bg{
    width: 4.5rem;
}
.banner-image{
    height: auto;
    width: 100%;
    border-radius: 2rem;

}
.banner-mark{
    width: 7rem;
    margin-top: -7.5rem;
}